---
import Recipe from '../../../../layouts/Recipe.astro';
---

<Recipe
  title="Air Fryer Orange Chicken"
  description="Crispy air fryer chicken tossed in a tangy homemade orange sauce"
  slug="air-fryer-orange-chicken"
  publishedDate="2026-04-07"
>
  <h1 class="post-title">Air Fryer Orange Chicken</h1>
  <p>Crispy air fryer chicken tossed in a tangy homemade orange sauce, served over rice.</p>

  <div class="post-main">
    <div class="blog-body">
      <h4>For the chicken</h4>
      <ul>
        <li>2 lb boneless chicken, cut into bite-sized chunks</li>
        <li>2 eggs</li>
        <li>Pinch of salt</li>
        <li>Pinch of black pepper</li>
        <li>&frac12; cup corn starch</li>
        <li>&frac14; cup flour</li>
        <li>Olive oil in a spray bottle</li>
      </ul>

      <h4>For the sauce</h4>
      <ul>
        <li>2 tsp garlic</li>
        <li>1&frac12; tbsp ginger</li>
        <li>1&frac12; tsp red pepper flakes</li>
        <li>1 tbsp corn starch</li>
        <li>2 tbsp rice wine</li>
        <li>&frac14; cup water</li>
        <li>1 tsp sesame oil</li>
        <li>3 tbsp soy sauce</li>
        <li>8 tbsp sugar</li>
        <li>8 tbsp white vinegar</li>
        <li>Zest of 1 orange</li>
      </ul>

      <h4>And also</h4>
      <ul>
        <li>Rice of your choice</li>
      </ul>

      <h4>Start the rice</h4>
      <p>Get the rice going first. It'll take care of itself while you handle the rest.</p>

      <h4>Make the sauce</h4>
      <p>You can get this going at the same time as the chicken if you want. No rush either way.</p>
      <ol>
        <li>In a large frying pan, heat a splash of oil. Add the ginger, garlic and red pepper
          flakes and cook for about 30 seconds.</li>
        <li>Add the corn starch, rice wine, water, sesame oil, soy sauce, sugar, white vinegar and
          orange zest. Bring to a boil, then reduce to a simmer for about 5 minutes until slightly
          reduced. Turn off the heat and set aside.</li>
      </ol>

      <h4>Make the chicken</h4>
      <ol>
        <li>Preheat the air fryer to 400&deg;F. Beat the eggs with salt and pepper in one bowl.
          Combine the corn starch and flour in another bowl.</li>
        <li>Coat chicken pieces in the egg mixture, then dredge in the flour mixture. Lay out in a
          single layer and spray with olive oil until the top side is just soaked. You may need to
          work in batches.</li>
        <li>Air fry for 5 minutes at 400&deg;F.</li>
        <li>Flip the chicken and spray with olive oil, aiming to soak remaining dry flour without
          overdoing it. Air fry for about 5 more minutes at 450&deg;F until crispy.</li>
      </ol>

      <h4>Bring it together</h4>
      <p>Add the chicken to the sauce and toss to coat. Serve over rice. Not too bad at all.</p>
    </div>
  </div>
</Recipe>
