---
import Recipe from '../../../../layouts/Recipe.astro';
---

<Recipe
  title="Buffalo Chicken Chili"
  description="Easy to make chili with buffalo chicken and beans"
  slug="buffalo-chicken-chili"
  publishedDate="2019-10-05"
>
  <h1 class="post-title">Buffalo Chicken Chili</h1>
  <p>Easy to make chili with buffalo chicken and beans</p>

  <div class="post-main">
    <em>
      Prep: 15 mins | Cook: 50 mins | Makes: 10 servings (halve everything for 5 servings)
    </em>

    <div class="blog-body">
      <h4>Prep that shit</h4>
      <ul>
        <li>1 kg (2 lb) ground chicken</li>
        <li>2 medium onions</li>
        <li>6 cloves garlic, chopped</li>
        <li>1 tablespoon chili powder</li>
        <li>1 tablespoon ground cumin</li>
        <li>1 tablespoon ground paprika</li>
        <li>salt and pepper to taste</li>
        <li>2 15 oz cans small white beans, rinsed and drained</li>
        <li>1 15 oz can fat-free refried pinto beans</li>
        <li>1½ cup reduced sodium chicken broth</li>
        <li>1 cup water</li>
        <li>2 cups Frank's Red Hot sauce (or your favorite buffalo sauce), additional to taste</li>
      </ul>

      <h4>Let's fucking do it</h4>
      <ol>
        <li>Brown ground chicken in a skillet over medium heat, breaking up the chicken into small parts as it cooks. Set aside.</li>
        <li>In a large pot, add the onion, garlic, chili powder, cumin, paprika, salt and pepper, cook over medium heat until the vegetables soften, around 6 minutes or so.</li>
        <li>Add the white beans, refried beans, water and chicken broth. Bring to a boil, then simmer for 10 minutes.</li>
        <li>Add the chicken and hot sauce, stir. Cover and simmer about 30 minutes, stirring occasionally.</li>
      </ol>

      <h4>Wanna go veggie?</h4>
      <p>Throw that chicken on the ground and sub in some fucking diced potatoes. Delicious as hell.</p>
    </div>
  </div>
</Recipe>
