---
import Recipe from '../../../../layouts/Recipe.astro';
---

<Recipe
  title="Egg Salad"
  description="My best damn egg salad"
  slug="egg-salad"
  publishedDate="2019-01-20"
>
  <h1 class="post-title">Egg Salad</h1>
  <p>Simple but damn good on a sandwich</p>

  <div class="post-main">
    <em>
    </em>

    <div class="blog-body">
      <h4>Prep that shit</h4>
      <ul>
        <li>6 eggs, hard boiled and peeled</li>
        <li>1/4 cup green onions, chopped</li>
        <li>3 tablespoons mayonnaise (Miracle Whip works too, but it's a different taste)</li>
        <li>2 teaspoons mustard</li>
        <li>1/8 teaspoon salt</li>
        <li>1/4 teaspoon black pepper</li>
        <li>Garlic powder to taste</li>
      </ul>

      <h4>Let's fucking do it</h4>
      <ol>
        <li>Remove the yolk from the eggs</li>
        <li>Chop the egg whites into cubes. 1 cm cubes are good, but you're an adult, do whatever size you damn well want</li>
        <li>Combine the yolk, green onions, mayo, mustard, salt, pepper and garlic powder. Mix it the hell up</li>
        <li>Add the chopped egg whites and mix it some more</li>
        <li>Spread over bread to make sandwiches</li>
      </ol>
    </div>
  </div>
</Recipe>
