---
import Recipe from '../../../../layouts/Recipe.astro';
---

<Recipe
  title="Eine Schmarren"
  description="Traditional wash-day dinner from the Baumann family"
  slug="eine-schmarren"
  publishedDate="2022-11-26"
>
  <h1 class="post-title">Eine Schmarren (Egg-up-on, or Egg-a-pond)</h1>
  <p>
    Traditional dinner (farm lunch) made by my great-great-grandpa Carl Wilhelm Baumann on wash day.
  </p>

  <div class="post-main">
    <div class="blog-body">
      <h4>Prep</h4>
      <ul>
        <li>½ cup milk</li>
        <li>6 eggs</li>
        <li>Flour</li>
      </ul>

      <h4>Let's do it</h4>
      <p>
        Combine milk and eggs with enough flour to make a very thick batter. Fry in a pan until lightly
        browned and flip. As the second side approaches browned, shred into bite-sized pieces. Serve
        with applesauce, sweetened tomatoes or jam.
      </p>
    </div>
  </div>
</Recipe>
