---
import Recipe from '../../../../layouts/Recipe.astro';
---

<Recipe
  title="Glorified Rice"
  description="The lovely Midwestern dessert à la great-grandma Baumann"
  slug="glorified-rice"
  publishedDate="2022-11-26"
>
  <h1 class="post-title">Glorified Rice</h1>
  <p>
    The lovely Midwestern dessert, recipe from my great-grandma Lena Baumann, as kept by my great-aunt
    Marnalee.
  </p>

  <div class="post-main">
    <div class="blog-body">
      <h4>Prep</h4>
      <ol>
        <li>2 cups cold, cooked rice (wild rice favored)</li>
        <li>½ cup sugar</li>
        <li>1½ cups drained, crushed pineapple</li>
        <li>1 tsp. vanilla</li>
        <li>1 cup whipped cream</li>
        <li>1½ cups miniature marshmallows</li>
        <li>¼ cup maraschino cherries</li>
      </ol>

      <h4>Let's do it</h4>
      <p>
        Whip cream and fold in the other ingredients. Let sit in refrigerator about 3 hours. Makes 10
        servings.
      </p>
    </div>
  </div>
</Recipe>
