---
import Recipe from '../../../../layouts/Recipe.astro';
---

<Recipe
  title="Pumpkin Donuts"
  description="It's not fall until my grandma's pumpkin donuts are made"
  slug="pumpkin-donut"
  publishedDate="2022-11-26"
>
  <h1 class="post-title">Pumpkin Donuts</h1>
  <p>It's not fall until my Grandma Nagel's pumpkin donuts are made.</p>

  <div class="post-main">
    <div class="blog-body">
      <h4>Prep</h4>
      <ul>
        <li>4½ cups sifted flour</li>
        <li>4 tsp. baking powder</li>
        <li>¾ tsp. salt</li>
        <li>1 cup sugar</li>
        <li>1 tsp. nutmeg</li>
        <li>1¼ cup milk</li>
        <li>1 egg, slightly beaten</li>
        <li>2 tbsp. melted butter</li>
        <li>½ tsp. vanilla extract</li>
        <li>¾ cup canned pumpkin</li>
      </ul>

      <h4>Let's do it</h4>
      <p>
        Sift dry ingredients. Combine other ingredients; mix well. Add to flour mixture, stirring only
        until blended. Roll dough on well-floured surface to ¼ inch thickness. Cut with a 2½ inch
        floured donut cutter. Fry in electric fry pan at 375° until brown, turning when first crack
        appears. Drain on absorbent paper. Dust with granulated sugar if desired.
      </p>
      <p>Yields approximately 2 dozen, which should last a little while anyway.</p>
    </div>
  </div>
</Recipe>
