---
import Recipe from '../../../../layouts/Recipe.astro';
---

<Recipe
  title="Rhubarb-Strawberry Jam"
  description="Delicious jam, good all year round"
  slug="rhubarb-strawberry-jam"
  publishedDate="2022-11-26"
>
  <h1 class="post-title">Rhubarb-Strawberry Jam</h1>
  <p>Delicious jam, good all year round</p>

  <div class="post-main">
    <div class="blog-body">
      <h4>Prep</h4>
      <ul>
        <li>5-6 cups rhubarb, cut very small</li>
        <li>
          1 pint fresh strawberries, or 1 box frozen (set out frozen strawberries to thaw for ½ hour)
        </li>
        <li>3 cups sugar</li>
        <li>2 3oz packages strawberry jello mix</li>
      </ul>

      <h4>Let's do it</h4>
      <ol>
        <li>
          Put rhubarb in a pan with the sugar and boil for 10 minutes. Add <strong>no water</strong>.
        </li>
        <li>
          Add strawberries and boil another 10 minutes. Take off stove and dump in the jello mix to
          thicken.
        </li>
        <li>
          Pour into sterilized jars and seal with wax. Submerge in water, simmer for 10 minutes and let
          cool in water.
        </li>
      </ol>
    </div>
  </div>
</Recipe>
