---
import Recipe from '../../../../layouts/Recipe.astro';
---

<Recipe
  title="Rhubarb Pie"
  description="The most delicious pie on the planet"
  slug="rhubarb-pie"
  publishedDate="2022-11-26"
>
  <h1 class="post-title">Rhubarb Pie</h1>
  <p>The most delicious pie on the planet, recipe from my great-grandma Lena Baumann</p>

  <div class="post-main">
    <div class="blog-body">
      <h4>Prep</h4>
      <ul>
        <li>2 cups fresh rhubarb (about 8 stalks), cut into rounds</li>
        <li>1 cup sugar</li>
        <li>2 eggs</li>
        <li>2 tbsp. flour</li>
        <li>1 tbsp. butter</li>
      </ul>

      <h4>Let's do it</h4>
      <p>
        Mix sugar, flour and eggs. Pour over cut rhubarb in pie crust. Dot with butter. Adjust top curst
        and bake 350° for 40-50 minutes.
      </p>
    </div>
  </div>
</Recipe>
