---
import Recipe from '../../../../layouts/Recipe.astro';
---

<Recipe
  title="Russian Tea"
  description="A drink of my childhood, popular in the family since the craze in the 70s"
  slug="russian-tea"
  publishedDate="2022-11-26"
>
  <h1 class="post-title">Russian Tea</h1>
  <p>A drink of my childhood, popular in the family since the craze in the 70s</p>

  <div class="post-main">
    <div class="blog-body">
      <h4>Prep</h4>
      <ul>
        <li itemprop="recipeIngredient">1 9oz jar Tang</li>
        <li itemprop="recipeIngredient">½ cup instant black tea or instant lemon iced tea</li>
        <li itemprop="recipeIngredient">½ cup sugar</li>
        <li itemprop="recipeIngredient">½ tsp. cinnamon</li>
        <li itemprop="recipeIngredient">¼ tsp. cloves</li>
        <li itemprop="recipeIngredient">Dash of salt</li>
      </ul>

      <h4>Let's do it</h4>
      <p itemprop="recipeInstructions">Mix together, add 2½-3 tsp. of mix to hot water. Keep the jar handy, you'll be coming back to it.</p>
    </div>
  </div>
</Recipe>
