---
import Recipe from '../../../../layouts/Recipe.astro';
---

<Recipe
  title="Russian Tea"
  description="A drink of my childhood, popular in the family since the craze in the 70s"
  slug="russian-tea"
  publishedDate="2022-11-26"
>
  <h1 class="post-title">Russian Tea</h1>
  <p>A drink of my childhood, popular in the family since the craze in the 70s</p>

  <div class="post-main">
    <div class="blog-body">
      <h4>Prep</h4>
      <ul>
        <li>1 9oz jar Tang</li>
        <li>½ cup instant black tea or instant lemon iced tea</li>
        <li>½ cup sugar</li>
        <li>½ tsp. cinnamon</li>
        <li>¼ tsp. cloves</li>
        <li>Dash of salt</li>
      </ul>

      <h4>Let's do it</h4>
      <p>Mix together, add 2½-3 tsp. of mix to hot water.</p>
    </div>
  </div>
</Recipe>
