---
import Recipe from '../../../../layouts/Recipe.astro';
---

<Recipe
  title="Speckendicken"
  description="Traditional German New Year Cakes"
  slug="speckendicken"
  publishedDate="2020-01-05"
>
  <h1 class="post-title">Speckendicken</h1>
  <p>
    Traditional German New Year Cakes, a beloved annual treat in my family. The recipe comes from my
    great-great-grandmother Christina Janssen Baumann, most likely adapted from a lost recipe from her
    grandmother; a taste of the valleys of Ostfriesland.
  </p>

  <div class="post-main">
    <div class="blog-body">
      <h4>Prep it up!</h4>
      <ul>
        <li>2 cups dark syrup</li>
        <li>1 cup white sugar</li>
        <li>1 cup brown sugar</li>
        <li>3 eggs, beaten</li>
        <li>1 tsp. salt</li>
        <li>1 tsp. baking powder</li>
        <li>1 cup raisins (or more)</li>
        <li>1½ cup currants</li>
        <li>1¼ oz. anise seeds</li>
        <li>2 cups graham flour</li>
        <li>1 cups white flour</li>
        <li>Milk (as much as desired for consistency)</li>
        <li>Bacon, cut into 1 inch squares</li>
        <li>Sausage, cut into thin rounds</li>
      </ul>

      <h4>Let's do it</h4>
      <p>
        Mix all ingredients except milk. Add milk, stirring slowly, until desired consistency (think
        pancake batter). Place a square of bacon on the pan, pour batter on top, set a round of sausage
        on top. Cook like a pancake until browned, flipping when bubbles appear. Alternatively, serve
        with sausage and bacon on the side, or without the meat.
      </p>
    </div>
  </div>
</Recipe>
