<main id="content">
  <h1>Tech news</h1>

  <noscript>Sorry, this page require JavaScript to fetch news stories.</noscript>

  <div class="top-row">
    <label class="toggle">
      <span>Infinite scroll</span>
      <input class="toggle" type="checkbox" id="infinite-scroll" />
    </label>
    <h6 class="updated-message"></h6>
  </div>
  <div class="no-md-a" id="posts">
    <!-- posts are injected here -->
  </div>
</main>

<div class="spinner spinner-donut large" id="spinner"></div>
<div class="load-more-container">
  <button class="low-key" id="load-more">Load More</button>
</div>
