---
import Base from '../../layouts/Base.astro';
---

<Base
  title="Tools | Jade Michael Thornton"
  description="Tools and various projects by Jade Michael Thornton"
>
  <Fragment slot="head">
    <meta name="googlebot" content="noindex" />
    <style>
      li > p:first-child {
        margin: 0;
      }
      li > p:last-child {
        margin-top: 4px;
      }
    </style>
  </Fragment>

  <h1>
    Tools
    <small>by <span class="rgb-color">Jade Michael Thornton</span></small>
  </h1>

  <section>
    <ul class="dl">
      <li>
        <p><a href="https://weather.jmthornton.net">Weather</a></p>
        <p>
          Current weather conditions and forecasts in your neck of the
          woods, in the style of The Weather Channel's WeatherStar 4000
        </p>
      </li>
      <li>
        <p><a href="/tools/news">News</a></p>
        <p>
          Hacker News, but without the clutter of comments or karma, just
          links
        </p>
      </li>
      <li>
        <p><a href="tools/dencode">URL Dencoder</a></p>
        <p>URL encoding and decoding tool</p>
      </li>
      <li>
        <p><a href="tools/jwt">JWT Decoder</a></p>
        <p>Simple JWT decoding tool</p>
      </li>
      <li>
        <p><a href="tools/midpoint">Midpoint Calculator</a></p>
        <p>
          Calculate the midpoint between two or more lat/lon coordinates
        </p>
      </li>
      <li>
        <p><a href="tools/weather-haiku">Weather Haiku</a></p>
        <p>A haiku for your current weather conditions</p>
      </li>
      <li>
        <p><a href="tools/sponge">Make sponge text</a></p>
        <p>EaSiLy gEnErAtE SpOnGe tExT</p>
      </li>
      <li>
        <p>
          <a href="tools/savings-transfer/"
            >Savings Balance Transfer Calculator</a
          >
        </p>
        <p>
          A tiny simple tool for calculating a transfer required to keep a
          savings account reconciled with a budgeted amount
        </p>
      </li>
      <li>
        <p><a href="tools/query-dumper">Query Dumper</a></p>
        <p>Send query parameters and see how they parse</p>
      </li>
      <li>
        <p>
          <a href="https://karlsfriendship.com/">Karl</a> and
          <a href="https://tohil.org">Tohil</a>
        </p>
        <p>A harrowing story of heartbreak and redemption</p>
      </li>
    </ul>
  </section>
</Base>
