---
import Base from '../../layouts/Base.astro';
---

<Base
  title="JWT Decode | Jade Michael Thornton"
  description="Simply decode JWT tokens"
  fontStrategy="prefetch"
>
  <Fragment slot="head">
    <style>
      textarea {
        width: 100%;
        height: 10ch;
      }

      #output-wrapper {
        display: none;
        margin-top: 2em;
      }

      pre {
        margin: 0;
      }

      #error {
        display: none;
        border-left: 0.25rem solid var(--error);
      }
    </style>
  </Fragment>

  <h1>JWT Decode Tool</h1>
  <h3>All decoding is performed in the browser, your token will not be saved nor shared in any way.</h3>

  <noscript>Sorry, this tool requires Javascript.</noscript>

  <textarea id="input" rows="1" cols="90" placeholder="Enter JWT"></textarea>
  <button id="decode">Decode</button>
  <pre id="error"></pre>
  <div id="output-wrapper">
    Header:
    <pre id="header"></pre>
    <br />
    Payload:
    <pre id="payload"></pre>
  </div>

  <script is:inline>
    'use strict';

    function decode(string) {
      const b64 = string.replace(/-/g, '+').replace(/_/g, '/');
      const json = JSON.parse(
        decodeURIComponent(
          atob(b64)
            .split('')
            .map((c) => '%' + `00${c.charCodeAt(0).toString(16)}`.slice(-2))
            .join(''),
        ),
      );
      return JSON.stringify(json, undefined, 2);
    }

    document.querySelector('#decode').addEventListener('click', () => {
      const token = document.querySelector('#input').value;
      const headerOutput = document.querySelector('#header');
      const payloadOutput = document.querySelector('#payload');

      try {
        error.style.display = 'none';
        const [header, payload] = token.split('.');
        const [prettyHeader, prettyPayload] = [header, payload].map(decode);
        headerOutput.innerText = `${prettyHeader}`;
        payloadOutput.innerText = `${prettyPayload}`;
        document.querySelector('#output-wrapper').style.display = 'block';
      } catch (e) {
        document.querySelector('#output-wrapper').style.display = 'none';
        const error = document.querySelector('#error');
        error.innerText = `Error: Could not parse JWT:\n${e}`;
        error.style.display = 'block';
      }
    });
  </script>
</Base>
