{# -*- engine:django -*- #}
{% extends "layout/base.html" %}

{% block title %}
	<title>URL Encode/Decode | Jade Michael Thornton</title>
{% endblock %}
{% block description%}
	<meta name="description" content="Easily and quickly encode and decode URL strings online for free">
{% endblock %}
{% block head %}
	<style>
   textarea {
     width: 100%;
   }
	</style>
{% endblock head %}

{% block body %}
	<h1>URL Encode/Decode Tool</h1>

	<textarea id="dencoder" rows="18" cols="90" placeholder="Enter text to encode or decode"></textarea>
	<div class="action-buttons">
    <button id="encode">Encode</button>
    <button id="decode">Decode</button>
	</div>

	<ul>
		<li>Input a string of text and encode or decode as you like.</li>
		<li>Handy for turning encoded JavaScript URLs from complete gibberish into readable gibberish.</li>
		<li>If you'd like to use this tool offline, just 'view source' and save to your computer. You can also copy/fork <a href="https://gitlab.com/thornjad/jmthornton/-/blob/main/tools/dencode.html">the source code</a>.</li>
	</ul>
{% endblock %}

{% block footer_script %}
	<script type="text/javascript">
    const getValue = () => {
      const dencoder = document.querySelector('#dencoder');
      const value = dencoder.value;
      return [dencoder, value];
    }
    document.querySelector('#encode').addEventListener('click', () => {
      const [dencoder, value] = getValue();
      dencoder.value = encodeURIComponent(value).replace(/'/g, "%27").replace(/"/g, "%22");
    });
    document.querySelector('#decode').addEventListener('click', () => {
      const [dencoder, value] = getValue();
      dencoder.value = decodeURIComponent(value.replace(/\+/g, " "));
    });
	</script>
{% endblock footer_script %}
