{
  "presets": ["flow", "minify"],
  "plugins": [
    ["transform-remove-console", {
      "exclude": ["error", "warn"]
      }
    ],
    "transform-remove-debugger",
    "transform-strict-mode"
  ]
}
