{
  "presets": ["flow"],
  "plugins": [
    ["transform-remove-console", {
      "exclude": ["error", "warn"]
      }
    ],
    "transform-remove-debugger",
    "transform-strict-mode"
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  }
}
