[submodule "_nsrbiz"]
	path = public/p/projects/_nsrbiz
	url = https://github.com/thornjad/_nsrbiz.git
[submodule "projects/_nsrbiz"]
	path = public/projects/_nsrbiz
	url = git@github.com:thornjad/_nsrbiz.git
