.DS_Store
*.DS_Store
*.o
*.so
a.html
assets/style/main.css
assets/style/out.css
assets/vendor/prism.min.css
assets/vendor/prism-dark.min.css
blog/assets/style/main.css
blog/assets/vendor/
tools/news/news.css
tools/tools.css
tools/libertarian-zoo/main.css
.sass-cache/
node_modules/
*.old
assets/style/out.css.map
assets/style/main.css.map
blog/draft/
.lsp/
.clj-kondo/

*.log
*.sqlite

/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
*.iml
.env
.cpcache

google*
BingSiteAuth.xml
CNAME

# Restricted directories
analytics/
cal/
cloud/
czcavnpx/
cznxtqvn/
czshrnw/
feeder/
ncarchive/
orson/wiki/
photos/
short/
skyland/
