@media (min-width: 720px) {
  .landing-zone {
    background: url("/assets/images/background.svg") no-repeat center center;
    height: calc(100vh - 44px);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 719px) {
  .landing-zone {
    background: url("/assets/images/background-small.svg") no-repeat center center;
    height: calc(80vh - 44px);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

section {
  margin-top: 5em;
}

.landing-zone {
  border-bottom: 44px solid #1b1b1b;
}

.contact-row {
  padding-top: 1em;
}

a:focus {
  outline: none;
}

.jadepic, .stephpic {
  margin-bottom: 3em;
  border-radius: 5px;
}

.stephpic {
  margin-top: 7em;
}

.construction-banner div {
  font-size: 0.8em;
}
