@media (min-width: 960px) {
  .blog-content {
    max-width: 720px;
    margin: 1em auto 4em auto;
  }
}

@media (max-width: 959px) {
  .blog-content,
  footer > .footer-text {
    margin: 1em 3vw 4em 3vw;
  }
}

.title h1, .post-title {
  font-size: 1.7em;

	small {
		color: inherit;
		font-style: italic;
		font-weight: lighter;
	}

	time {
		float: right;
		margin-right: 0.5rem;
	}
}

.post-main {
  padding: 4vh 0;

	blockquote.post-quote {
		margin-top: 1rem;
		margin-bottom: 3rem;
	}
}

.blog-conclusion-separator {
  margin-top: 3em;
  margin-bottom: 3em;
}

.blog-title-separator {
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: 100;
}
