.landing-zone {
  background: url("/assets/images/background.svg") no-repeat center center;
  height: calc(100vh - 44px);
}

section {
  margin-top: 5em;
}

.landing-zone {
  border-bottom: 44px solid #1b1b1b;
	background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact-row {
  padding-top: 1em;
}

.contact-row a span {
	font-weight: lighter;
}

a:focus {
  outline: none;
}

.jadepic, .stephpic {
  margin-bottom: 3em;
  border-radius: 5px;
}

.stephpic {
  margin-top: 7em;
}

.icon {
	fill: none;
}
