{# -*- engine:django -*- #}
{% extends "layout/base.html" %}

{% block title %}
  <title>News | Jade Michael Thornton</title>
{% endblock %}
{% block description%}
  <meta name="description" content="News from the magical realm of tech" />
{% endblock %}

{% block head %}
  <meta name="googlebot" content="noindex" />
  <link rel="stylesheet" href="./news.css" type="text/css" />
{% endblock %}

{% block body %}
  <main id="content">
    <h1>Tech news</h1>
    <div class="top-row">
      <h6 class="updated-message"></h6>
    </div>
    <div class="no-md-a" id="posts">
      <!-- posts are injected here -->
      {% for p in posts  %}
        <p>
          <a href="{{ p.url }}">{{  p.title }}</a>
          <br />
          <span class="source">{{ p.source }}</span>
          &nbsp;
          <a class="extra-content-link" href="{{ p.pocket_url }}" target="_blank" rel="noopener noreferrer">add to pocket</a>
          &nbsp;
          <a class="extra-content-link" href="{{ p.comment_url }}" target="_blank" rel="noopener noreferrer">comments</a>
        </p>
      {% endfor %}
    </div>
  </main>
{% endblock %}
