@media (min-width: 960px) {
  .blog-content {
    max-width: 720px;
    margin: 1em auto 4em auto;
  }
}

@media (max-width: 959px) {
  .blog-content,
  footer > .footer-text {
    margin: 1em 3vw 4em 3vw;
  }
}

.hash-line-1-blog {
  text-indent: -2em;
}

.blog-body {
  padding: 4vh 0;
}
