---
import BlogPost from '../../../layouts/BlogPost.astro';
---

<BlogPost
  title="ClearNight Retro"
  description="Introducing a new dark, relaxed retro theme for the Atom text editor"
  slug="clearnightretro"
  publishedDate="2018-05-08"
>
  <Fragment slot="extra-head">
    <style>
     .install-badges {
       text-align: center;
     }

     .install-badges a:first-child {
       margin-right: 2em;
     }
    </style>
  </Fragment>

  <h1 class="post-title">ClearNight Retro</h1>
  <time datetime="2018-05-08">May 8, 2018</time>

  <div class="post-main">
    <div class="blog-body">
      <p><img alt="ClearNight Retro" src="../assets/images/retro-title.png"/></p>

      <p>After a bit of work, I&#39;m proud to introduce <a href="https://atom.io/packages/clearnight-retro-ui">ClearNight Retro</a>, a new dark, relaxed retro theme for Atom! The set is a UI theme with matching syntax theme, but both can work separately with other dark themes like Atom&#39;s own One Dark.</p>

      <p>The core of the theme is forked from <a href="https://github.com/ClearNight/clear-night-ui">Clear Night</a>, and makes use of a relaxed, almost faded color scheme inspired by <a href="https://github.com/morhetz/gruvbox">Gruvbox</a>. The theme set will continue to be maintained by me and the <a href="https://github.com/clearnight">ClearNight organization</a>. I'm no longer using Atom much, I've been leaning more into my <a href="https://github.com/thornjad/aero">configuration of Emacs</a> recently, but the ClearNight themese will continue to receive full support for at least a few years.</p>

      <h2>Take a look</h2>

      <div class="no-md-a">
        <p><a target="_blank" href="../assets/images/preview.png"><img class="retro-preview-img" src="../assets/images/preview.png" alt="Javascript preview"> </a> </p>

        <p><a target="_blank" href="../assets/images/clj-preview.png"><img class="retro-preview-img" src="../assets/images/clj-preview.png" alt="Clojure preview"> </a> </p>

        <p><a target="_blank" href="../assets/images/groovy-preview.png"><img class="retro-preview-img" src="../assets/images/groovy-preview.png" alt="Groovy preview"> </a> </p>

        <p><a target="_blank" href="../assets/images/preview-overlay.png"><img class="retro-preview-img" src="../assets/images/preview-overlay.png" alt="Modal overly preview"> </a> </p>

        <p><a target="_blank" href="../assets/images/preview-settings-view.png"><img class="retro-preview-img" src="../assets/images/preview-settings-view.png" alt="Settings view preview"> </a> </p>
      </div>

      <h2>Try it out</h2>

      <div class="no-md-a">
        <p>ClearNight Retro is fully released and ready to make your code look good!</p>

        <p class="install-badges"><a href="https://atom.io/packages/clearnight-retro-ui"><img alt="apm install clearnight-retro-ui" src="https://apm-badges.herokuapp.com/apm/clearnight-retro-ui.svg?theme=one-dark"/></a><a href="https://atom.io/packages/clearnight-retro-syntax"><img alt="apm install clearnight-retro-syntax" src="https://apm-badges.herokuapp.com/apm/clearnight-retro-syntax.svg?theme=one-dark"/></a></p>
      </div>
    </div>
  </div>
</BlogPost>
