---
import BlogPost from '../../../layouts/BlogPost.astro';
---

<BlogPost
  title="Coding a website from scratch - a timelapse"
  description="Jade creates a simple website from scratch using the Bootstrap framework"
  slug="websitetimelapse"
  publishedDate="2016-12-14"
>
  <Fragment slot="extra-head">
    <style>
     iframe {
       margin-top: 3rem;
     }
    </style>
  </Fragment>

  <h1 class="post-title">Coding a website from scratch &mdash; a timelapse</h1>
  <time datetime="2016-12-14">December 14, 2016</time>

  <iframe width="896" height="504" src="https://www.youtube-nocookie.com/embed/HMi-g9iGVew?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  <noscript><a href="https://youtu.be/HMi-g9iGVew?si=TrQQMwUf_miS1UrA">View the timelapse on YouTube</a></noscript>
</BlogPost>
