---
import Base from '../layouts/Base.astro';
---

<Base title="Page Not Found" noindex includeOneko>
  <h1>404: Page Not Found</h1>
  <p>
    Your call cannot be completed as dialed. Please check the number and try
    again.
  </p>
</Base>
