/*
  Author: raindeer44 (https://github.com/raindeer44)
  Maintainers: raindeer44
  Based on: Nord for mini.css v2.3.4 by tphecca (https://github.com/tphecca)
  Color palette based on: Nord (https://github.com/arcticicestudio/nord)
  Inspiration from: bootswatch v3.3.7 by Thomas Park and Twitter, Inc.
*/

/* variables for ./mini components */
$fore-color: #2E3440;
$back-color: #fcfcfa;
$base-font-family: '-apple-system, BlinkMacSystemFont,\"Segoe UI\",\"Roboto\", \"Droid Sans\",\"Helvetica Neue\", Helvetica, Arial, sans-serif';
$base-root-font-size: 18px;
$base-font-size: 1em;
$base-line-height: 1.5em;
$use-fluid-typography: false;
$body-margin: 0;
$apply-defaults-to-all: true;
$h1-font-size: 2em;
$h2-font-size: 1.5em;
$h3-font-size: 1.25em;
$h4-font-size: 1.1em;
$h5-font-size: 1em;
$h6-font-size: 0.85em;
$h2-margin-top: 3.5em;
$h3-margin-top: 2.8em;
$h4-margin-top: 2.8em;
$heading-line-height: 1.2em;
$heading-margin: 2.1em 0.6em 0.8em 0.6em;
$heading-font-weight: 800;
$heading-color: #000;
$heading-smalltext-fore-color: #424242;
$make-heading-smalltext-block: true;
$heading-smalltext-b-font-size: 75%;
$heading-smalltext-b-top-margin: -4px;
$paragraph-margin: 1.3em 0;
$paragraph-line-height: $base-line-height;
$list-margin: 1px 8px 1.8em;
$list-left-padding: 28px;
$bold-font-weight: 700;
$horizontal-rule-line-height: 1.25em;
$horizontal-rule-margin: 8px;
$horizontal-rule-border-style: 1px solid #757575;
$horizontal-rule-fancy-style: true;
$horizontal-rule-fancy-gradient: "to right, #ECEFF4, #D8DEE9, #ECEFF4";
$blockquote-back-color: #D8DEE9;
$blockquote-fore-color: $fore-color;
$blockquote-margin: 8px 10px;
$blockquote-padding: 6px 10px 24px;
$blockquote-sidebar-style: 3px solid #616161;
$blockquote-cite-font-size: 0.85em;
$blockquote-cite-fore-color: #616161;
$blockquote-cite-left-position: 10px;
$blockquote-cite-bottom-position: 0;
$blockquote-border-style: 0;
$blockquote-border-radius: 0 2px 2px 0;
$blockquote-box-shadow: 0 1px 3px rgba(0,0,0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.15);
$use-default-code-fonts: true;
$code-element-padding: 2px 4px;
$code-element-fore-color: $fore-color;
$code-element-back-color: #E5E9F0;
$code-element-border-style: 0;
$code-element-border-radius: 2px;
$code-element-box-shadow: 0 1px 2px rgba(0,0,0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.15);
$pre-element-padding: 12px;
$pre-element-fore-color: $code-element-fore-color;
$pre-element-back-color: $code-element-back-color;
$pre-element-border-style: 0;
$pre-element-border-radius: 0 2px 2px 0;
$pre-element-margin: 8px 10px;
$pre-element-box-shadow: 0 1px 3px rgba(0,0,0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.15);
$add-pre-element-sidebar: true;
$pre-element-sidebar-style: 3px solid #5E81AC;
$kbd-element-padding: 2px 4px;
$kbd-element-fore-color: #ECEFF4;
$kbd-element-back-color: $fore-color;
$kbd-element-border-style: 0;
$kbd-element-border-radius: 2px;
$kbd-element-box-shadow: 0 1px 2px rgba(0,0,0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.15);
$style-samp-element: false;
$include-dfn-fix: true;
$small-font-size: 75%;
$sup-font-size: 75%;
$sub-font-size: 75%;
$sup-top: -8px;
$sub-bottom: -4px;
$link-fore-color: #4277a3;
$link-visited-fore-color: #4f6d91;
$link-font-weight: 500;
$apply-link-underline: true;
$apply-link-hover-fade: true;
$figcaption-font-size: 80%;
$figcaption-fore-color: #424242;
$use-four-step-grid: false;
$include-parent-layout: true !default;
$grid-container-name: 'container';
$grid-container-side-padding: 10px;
$grid-row-name: 'row';
$grid-row-parent-layout-prefix: 'cols';
$grid-column-prefix: 'col';
$grid-column-offset-suffix: 'offset';
$grid-order-normal-suffix: 'normal';
$grid-order-first-suffix: 'first';
$grid-order-last-suffix: 'last';
$grid-column-count: 12;
$grid-column-padding: 0 4px;
$grid-small-prefix: 'sm';
$grid-medium-breakpoint: 768px;
$grid-medium-prefix: 'md';
$grid-large-breakpoint: 1280px;
$grid-large-prefix: 'lg';
$form-back-color: #ECEFF4;
$form-fore-color: $fore-color;
$form-border-style: 1px solid #D8DEE9;
$form-border-radius: 0;
$form-margin: 8px;
$form-padding: 12px 10px 18px;
$form-box-shadow: 0 2px 4px rgba(0,0,0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.15);
$fieldset-back-color: $form-back-color;
$fieldset-border-style: 1px solid #D8DEE9;
$fieldset-border-radius: 2px;
$fieldset-margin: 2px;
$fieldset-padding: 6px 8px 8px;
$legend-font-weight: $bold-font-weight;
$legend-font-size: 0.925em;
$legend-fore-color: $form-fore-color;
$legend-padding: 2px 4px;
$label-padding: 4px 8px;
$input-group-name: 'input-group';
$include-fluid-input-group: true;
$input-group-fluid-name: 'fluid';
$include-vertical-input-group: true;
$input-group-vertical-name: 'vertical';
$input-group-mobile-breakpoint: 767px;
$input-back-color: #E5E9F0;
$input-fore-color: $fore-color;
$input-border-style: 1px solid #D8DEE9;
$input-border-radius: 1px;
$input-margin: 2px;
$input-padding: 8px 12px;
$input-focus-border-color: #81A1C1;
$input-invalid-border-color: #BF616A;
$input-disabled-opacity: 0.75;
$input-readonly-back-color: #e0e0e0;
$input-readonly-border-color: #bdbdbd;
$input-placeholder-fore-color: #616161;
$select-padding-right: 20px;
$button-back-color: #D8DEE9;
$button-back-opacity: 0.65;
$button-hover-back-opacity: 0.8;
$button-fore-color: $fore-color;
$button-border-style: 0;
$button-border-radius: 2px;
$button-padding: 8px 12px;
$button-margin: 8px;
$button-box-shadow: 0 1px 3px rgba(0,0,0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.15);
$button-disabled-opacity: 0.65;
$button-class-name: 'button';
$button-group-name: 'button-group';
$button-group-border-style: 1px solid #9e9e9e;
$button-group-margin: $button-margin;
$button-group-box-shadow: 0 2px 4px rgba(0,0,0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.15);
$button-group-mobile-breakpoint: 767px;
$hide-file-inputs: true;
$button-variant1-name: 'primary';
$button-variant1-back-color: #5E81AC;
$button-variant1-back-opacity: 0.9;
$button-variant1-hover-back-opacity: 1;
$button-variant1-fore-color: #ECEFF4;
$button-variant2-name: 'secondary';
$button-variant2-back-color: #BF616A;
$button-variant2-back-opacity: 0.85;
$button-variant2-hover-back-opacity: 1;
$button-variant2-fore-color: #ECEFF4;
$button-variant3-name: 'tertiary';
$button-variant3-back-color: #A3BE8C;
$button-variant3-back-opacity: 0.85;
$button-variant3-hover-back-opacity: 1;
$button-variant3-fore-color: #ECEFF4;
$button-variant4-name: 'inverse';
$button-variant4-back-color: $fore-color;
$button-variant4-back-opacity: 1;
$button-variant4-hover-back-opacity: 0.9;
$button-variant4-fore-color: #ECEFF4;
$button-style1-name: 'small';
$button-style1-border-style: 0;
$button-style1-border-radius: 1px;
$button-style1-padding: 4px 6px;
$button-style1-margin: 6px 8px;
$button-style2-name: 'large';
$button-style2-border-style: 0;
$button-style2-border-radius: 4px;
$button-style2-padding: 12px 18px;
$button-style2-margin: 10px 8px;
$checkbox-size: 16px;
$checkbox-back-color: $input-back-color;
$checkbox-fore-color: $input-fore-color;
$checkbox-border-thickness: 1px;
$checkbox-border-color: #D8DEE9;
$checkbox-border-radius: $input-border-radius;
$checkbox-focus-border-color: $input-focus-border-color;
$checkbox-bottom-spacing: 6px;
$checkbox-disabled-opacity: $input-disabled-opacity;
$checkbox-box-shadow: 0 1px 3px rgba(0,0,0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.15);
$include-switch: true;
$switch-name: 'switch';
$switch-bar-back-color: #D8DEE9;
$switch-on-bar-back-color: #D8DEE9;
$switch-bar-width: 28px;
$switch-bar-height: 14px;
$switch-bar-border-style: 0;
$switch-bar-border-radius: 8px;
$switch-bottom-spacing: 8px;
$switch-bar-box-shadow: 0 1px 3px rgba(0,0,0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.15);
$switch-knob-back-color: #ECEFF4;
$switch-on-knob-back-color: #5E81AC;
$switch-knob-width: 20px;
$switch-knob-height: 20px;
$switch-knob-border-style: 0;
$switch-knob-border-radius: 100%;
$switch-knob-box-shadow: 0 1px 3px rgba(0,0,0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.15);
$header-height: 44px;
$header-back-color: #2E3440;
$header-fore-color: #ECEFF4;
$header-border-style: 0;
$header-margin: 0;
$header-padding: 2px 8px;
$header-box-shadow: 0 2px 4px rgba(0,0,0, 0.18), 0 2px 3px rgba(0, 0, 0, 0.26);
$header-logo-name: 'logo';
$header-logo-font-size: 1.75em;
$header-logo-line-height: 1.2em;
$header-logo-margin: 1px 6px 1px 1px;
$header-logo-padding: 3px 0 0;
$header-link-hover-color: #37474f;
$header-link-margin: 2px 0 0;
$include-header-sticky: true;
$header-sticky-name: 'sticky';
$nav-back-color: #ECEFF4;
$nav-fore-color: $fore-color;
$nav-border-style: 1px solid #D8DEE9;
$nav-border-radius: 0;
$nav-padding: 8px 8px 16px 20px;
$nav-margin: 2px;
$nav-box-shadow: 0 2px 4px rgba(0,0,0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.15);
$nav-link-fore-color: #88C0D0;
$nav-sublink-prefix: 'sublink';
$nav-sublink-depth: 2;
$nav-sublink-padding-left: 12px;
$nav-include-sublink-bar: true;
$nav-sublink-bar-left-position: 3px;
$nav-sublink-bar-width: 1px;
$nav-sublink-bar-color: #81A1C1;
$drawer-name: 'drawer';
$drawer-back-color: $nav-back-color;
$drawer-border-style: $nav-border-style;
$drawer-border-radius: 0;
$drawer-width: 320px;
$drawer-padding: 0;
$drawer-box-shadow: none;
$drawer-mobile-breakpoint: 768px;
$drawer-normal-height: calc(100vh - 48px);
$drawer-right-name: 'right';
$drawer-persistent-name: 'persistent';
$drawer-toggle-name: 'drawer-toggle';
$drawer-toggle-font-size: 40px;
$drawer-toggle-line-height: 0.125em;
$drawer-toggle-top: 7px;
$drawer-close-name: 'close';
$drawer-close-top: 12px;
$drawer-close-right: 4px;
$footer-back-color: $nav-fore-color;
$footer-fore-color: #ECEFF4;
$footer-border-style: 0;
$footer-font-size: 85%;
$footer-margin: 18px 0 0;
$footer-padding: 22px 10px 12px;
$footer-link-fore-color: #88C0D0;
$include-footer-sticky: true;
$footer-sticky-name: 'sticky';
$table-border-style: 1px solid #D8DEE9;
$table-border-radius: 0;
$table-margin: 0 auto;
$table-box-shadow: 0 2px 4px rgba(0,0,0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.15);
$table-caption-font-size: 1.5em;
$table-caption-margin: 6px 8px 12px;
$table-row-padding: 8px;
$table-column-padding: 10px;
$table-head-back-color: #D8DEE9;
$table-head-fore-color: $fore-color;
$table-body-back-color: #ECEFF4;
$table-body-fore-color: $fore-color;
$table-mobile-breakpoint: 767px;
$table-mobile-card-spacing: 10px;
$table-mobile-card-label: 'data-label';
$table-mobile-label-font-weight: $bold-font-weight;
$include-horizontal-table: true;
$table-horizontal-name: 'horizontal';
$include-scrollable-table: true;
$table-scrollable-name: 'scrollable';
$table-scrollable-height: 400px;
$table-not-responsive-name: 'preset';
$table-striped-name: 'striped';
$table-striped-alt-body-back-color: #E5E9F0;
$card-name: 'card';
$card-back-color: #ECEFF4;
$card-fore-color: $fore-color;
$card-border-style: 1px solid #D8DEE9;
$card-border-radius: 0;
$card-margin: 2px 10px 20px;
$card-box-shadow: 0 2px 4px rgba(0,0,0, 0.18), 0 2px 3px rgba(0, 0, 0, 0.26);
$card-section-name: 'section';
$card-section-border-style: 1px solid #E5E9F0;
$card-section-padding: 6px 8px 6px;
$card-section-media-name: 'media';
$card-section-media-height: 200px;
$card-normal-width: 320px;
$card-size1-name: 'large';
$card-size1-width: 480px;
$card-size2-name: 'small';
$card-size2-width: 240px;
$card-size3-name: 'fluid';
$card-size3-width: 100%;
$card-style1-name: 'warning';
$card-style1-back-color: #EBCB8B;
$card-style1-fore-color: $fore-color;
$card-style1-border-style: 1px solid #D08770;
$card-style1-border-radius: 0;
$card-style1-section-border-style: 1px solid #D08770;
$card-style2-name: 'error';
$card-style2-back-color: #BF616A;
$card-style2-fore-color: #ECEFF4;
$card-style2-border-style: 1px solid #BF616A;
$card-style2-border-radius: 0;
$card-style2-section-border-style: 1px solid #BF616A;
$card-section-style1-name: 'dark';
$card-section-style1-back-color: #ECEFF4;
$card-section-style1-fore-color: $fore-color;
$card-section-style2-name: 'darker';
$card-section-style2-back-color: #D8DEE9;
$card-section-style2-fore-color: $fore-color;
$card-section-padding1-name: 'double-padded';
$card-section-padding1-padding: 10px 12px 10px;
$tab-container-name: 'tabs';
$tab-container-box-shadow: 0 2px 4px rgba(0,0,0, 0.18), 0 2px 3px rgba(0, 0, 0, 0.26);
$tab-label-back-color: #D8DEE9;
$tab-label-fore-color: $fore-color;
$tab-label-selected-back-color: #4C566A;
$tab-label-selected-fore-color: #ECEFF4;
$tab-label-hover-opacity: 0.8;
$tab-label-padding: 8px 12px;
$tab-label-height: 26px;
$tab-border-style: 1px solid #9e9e9e;
$tab-border-radius: 0;
$tab-selected-border-color: #5E81AC;
$tab-panel-back-color: #ECEFF4;
$tab-panel-fore-color: $fore-color;
$tab-panel-padding: 8px;
$tab-panel-height: 400px;
$tab-stacked-breakpoint: 767px;
$tab-stacked-name: 'stacked';
$mark-back-color: #5E81AC;
$mark-fore-color: #ECEFF4;
$mark-font-size: 95%;
$mark-line-height: 1em;
$mark-border-style: 0;
$mark-border-radius: 2px;
$mark-padding: 2px 4px;
$mark-margin: 0;
$mark-box-shadow: 0 1px 2px rgba(0,0,0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.15);
$mark-inline-block-name: 'inline-block';
$mark-variant1-name: 'secondary';
$mark-variant1-back-color: #BF616A;
$mark-variant2-name: 'tertiary';
$mark-variant2-back-color: #A3BE8C;
$mark-style1-name: 'tag';
$mark-style1-border-style: 0;
$mark-style1-border-radius: 200px;
$mark-style1-padding: 4px 8px;
$mark-style2-name: 'inline-block';
$mark-style2-border-style: 0;
$mark-style2-border-radius: 2px;
$mark-style2-padding: 5px;
$mark-style2-font-size: 100%;
$mark-style2-line-height: 1.35em;
$include-toast: true;
$toast-name: 'toast';
$toast-bottom: 24px;
$toast-back-color: #424242;
$toast-fore-color: #ECEFF4;
$toast-border-style: 0;
$toast-border-radius: 32px;
$toast-padding: 12px 24px;
$toast-box-shadow: none;
$toast-style1-name: 'small';
$toast-style1-border-style: 0;
$toast-style1-border-radius: 24px;
$toast-style1-padding: 8px 16px;
$toast-style2-name: 'large';
$toast-style2-border-style: 0;
$toast-style2-border-radius: 48px;
$toast-style2-padding: 18px 36px;
$include-tooltip: true;
$tooltip-name: 'tooltip';
$tooltip-back-color: $fore-color;
$tooltip-fore-color: #ECEFF4;
$tooltip-border-radius: 2px;
$tooltip-tail-size: 6px;
$tooltip-padding: 6px;
$tooltip-box-shadow: 0 1px 2px rgba(0,0,0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.15);
$tooltip-bottom-name: 'bottom';
$include-modal: true;
$modal-name: 'modal';
$modal-back-color: #000;
$modal-back-opacity: 0.45;
$modal-close-name: 'close';
$modal-close-top: 12px;
$modal-close-right: 4px;
$progress-back-color: #D8DEE9;
$progress-fore-color: #5E81AC;
$progress-height: 14px;
$progress-max-value: 1000;
$progress-border-style: 0;
$progress-border-radius: 1px;
$progress-top-bottom-margin: 2px;
$progress-left-right-margin: 8px;
$progress-box-shadow: 0 0.5px 1px rgba(0,0,0, 0.1), 0 0.5px 0.5px rgba(0, 0, 0, 0.15);
$progress-inline-name: 'inline';
$progress-inline-width: 60%;
$progress-variant1-name: 'secondary';
$progress-variant1-fore-color: #BF616A;
$progress-variant2-name: 'tertiary';
$progress-variant2-fore-color: #A3BE8C;
$spinner-donut-name: 'spinner-donut';
$spinner-donut-border-thickness: 4px;
$spinner-donut-back-color: #D8DEE9;
$spinner-donut-fore-color: #5E81AC;
$spinner-donut-size: 20px;
$spinner-donut-variant1-name: 'secondary';
$spinner-donut-variant1-back-color: #D8DEE9;
$spinner-donut-variant1-fore-color: #BF616A;
$spinner-donut-variant2-name: 'tertiary';
$spinner-donut-variant2-back-color: #D8DEE9;
$spinner-donut-variant2-fore-color: #A3BE8C;
$spinner-donut-style1-name: 'large';
$spinner-donut-style1-size: 32px;
$spinner-donut-style1-border-thickness: 6px;
$hidden-name: 'hidden';
$visually-hidden-name: 'visually-hidden';
$breadcrumbs-name: 'breadcrumbs';
$breadcrumbs-back-color: #D8DEE9;
$breadcrumbs-margin: 10px 8px;
$breadcrumbs-height: 32px;
$breadcrumbs-separator-width: 2px;
$breadcrumbs-border-style: 0;
$breadcrumbs-border-radius: 4px;
$breadcrumbs-box-shadow: 0 1px 3px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.15);
$close-icon-name: 'close';
$close-icon-size: 32px;
$close-icon-back-color: #ECEFF4;
$close-icon-fore-color: #2E3440;
$border-generic-name: 'bordered';
$border-radial-style1-name: 'rounded';
$border-radial-style1-radius: 2px;
$border-radial-style2-name: 'circular';
$border-radial-style2-radius: 50%;
$box-shadow-style1-name: 'shadow-none';
$box-shadow-style1-value: none;
$box-shadow-style2-name: 'shadow-small';
$box-shadow-style2-value: 0 1px 2px rgba(0,0,0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.15);
$box-shadow-style3-name: 'shadow-medium';
$box-shadow-style3-value: 0 1px 3px rgba(0,0,0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.15);
$box-shadow-style4-name: 'shadow-large';
$box-shadow-style4-value: 0 2px 4px rgba(0,0,0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.15);
$responsive-margin-name: 'responsive-margin';
$responsive-margin-small-value: 4px;
$responsive-margin-medium-value: 6px;
$responsive-margin-large-value: 8px;
$responsive-padding-name: 'responsive-padding';
$responsive-padding-small-value: 2px 4px;
$responsive-padding-medium-value: 4px 6px;
$responsive-padding-large-value: 6px 8px;
$responsive-hidden-prefix: 'hidden';
$responsive-visually-hidden-prefix: 'visually-hidden';
$include-floats: false;
$include-clearfix: false;
$include-center-block-name: false;
@import './mini/core';
@import './mini/grid';
@import './mini/input_control';
/*
  Custom elements for forms and input elements.
*/
@include make-button-alt-color ($button-variant1-name, $button-variant1-back-color, $button-variant1-back-opacity, $button-variant1-hover-back-opacity, $button-variant1-fore-color);
@include make-button-alt-color ($button-variant2-name, $button-variant2-back-color, $button-variant2-back-opacity, $button-variant2-hover-back-opacity, $button-variant2-fore-color);
@include make-button-alt-color ($button-variant3-name, $button-variant3-back-color, $button-variant3-back-opacity, $button-variant3-hover-back-opacity, $button-variant3-fore-color);
@include make-button-alt-color ($button-variant4-name, $button-variant4-back-color, $button-variant4-back-opacity, $button-variant4-hover-back-opacity, $button-variant4-fore-color);
@include make-button-alt-style ($button-style1-name, $button-style1-border-style, $button-style1-border-radius, $button-style1-padding, $button-style1-margin);
@include make-button-alt-style ($button-style2-name, $button-style2-border-style, $button-style2-border-radius, $button-style2-padding, $button-style2-margin);
@import './mini/navigation';
@import './mini/table';
@import './mini/card';
/*
  Custom elements for cards and containers.
*/
@include make-card-alt-size ($card-size1-name, $card-size1-width);
@include make-card-alt-size ($card-size2-name, $card-size2-width);
@include make-card-alt-size ($card-size3-name, $card-size3-width);
@include make-card-alt-color ($card-style1-name, $card-style1-back-color, $card-style1-fore-color, $card-style1-border-style, $card-style1-border-radius, $card-style1-section-border-style);
@include make-card-alt-color ($card-style2-name, $card-style2-back-color, $card-style2-fore-color, $card-style2-border-style, $card-style2-border-radius, $card-style2-section-border-style);
@include make-card-section-alt-color ($card-section-style1-name, $card-section-style1-back-color, $card-section-style1-fore-color);
@include make-card-section-alt-color ($card-section-style2-name, $card-section-style2-back-color, $card-section-style2-fore-color);
@include make-card-section-alt-style ($card-section-padding1-name, $card-section-padding1-padding);
@import './mini/tab';
@import './mini/contextual';
/*
  Custom contextual background elements and alerts.
*/
@include make-mark-alt-color ($mark-variant1-name, $mark-variant1-back-color);
@include make-mark-alt-color ($mark-variant2-name, $mark-variant2-back-color);
@include make-mark-alt-style ($mark-style1-name, $mark-style1-border-style, $mark-style1-border-radius, $mark-style1-padding);
@include make-mark-alt-style ($mark-style2-name, $mark-style2-border-style, $mark-style2-border-radius, $mark-style2-padding, $mark-style2-font-size, $mark-style2-line-height);
@include make-toast-alt-style($toast-style1-name, $toast-style1-border-style, $toast-style1-border-radius, $toast-style1-padding);
@include make-toast-alt-style($toast-style2-name, $toast-style2-border-style, $toast-style2-border-radius, $toast-style2-padding);
@import './mini/progress';
/*
  Custom elements for progress elements and spinners.
*/
@include make-progress-inline ($progress-inline-name, $progress-inline-width);
@include make-progress-alt-color ($progress-variant1-name, $progress-variant1-fore-color);
@include make-progress-alt-color ($progress-variant2-name, $progress-variant2-fore-color);
@include make-spinner-donut-alt-color ($spinner-donut-variant1-name, $spinner-donut-variant1-back-color, $spinner-donut-variant1-fore-color);
@include make-spinner-donut-alt-color ($spinner-donut-variant2-name, $spinner-donut-variant2-back-color, $spinner-donut-variant2-fore-color);
@include make-spinner-donut-alt-style ($spinner-donut-style1-name, $spinner-donut-style1-size, $spinner-donut-style1-border-thickness);
@import './mini/utility';
/*
  Custom elements for utilities and helper classes.
*/
@include make-border-generic ($border-generic-name);
@include make-border-radial-style ($border-radial-style1-name, $border-radial-style1-radius);
@include make-border-radial-style ($border-radial-style2-name, $border-radial-style2-radius);
@include make-margin-responsive ($responsive-margin-name, $responsive-margin-small-value, $responsive-margin-medium-value, $responsive-margin-large-value);
@include make-padding-responsive ($responsive-padding-name, $responsive-padding-small-value, $responsive-padding-medium-value, $responsive-padding-large-value);
@include make-box-shadow-generic ($box-shadow-style1-name, $box-shadow-style1-value);
@include make-box-shadow-generic ($box-shadow-style2-name, $box-shadow-style2-value);
@include make-box-shadow-generic ($box-shadow-style3-name, $box-shadow-style3-value);
@include make-box-shadow-generic ($box-shadow-style4-name, $box-shadow-style4-value);
@include make-hidden-responsive ($responsive-hidden-prefix);
@include make-visually-hidden-responsive ($responsive-visually-hidden-prefix);

/*
  * nit-picking and page-specific styling (at a higher level than inline css)
  */
@import './custom/nitpick';
@import './custom/blog';

@import './custom/gallery/gallerymain';
@import './custom/gallery/skin/galleryskin';
