{:dev {:database "jmthornton_dev.sqlite3"
       :adapter "sqlite"}

 :test {:database "jmthornton_test.sqlite3"
        :adapter "sqlite"}

 :prod {:database #env :db-name
        :adapter "sqlite"}}
