---
import pkg from '../../package.json';

interface Props {
  variant?: 'standard' | 'blog' | 'recipe';
}

const { variant = 'standard' } = Astro.props;
---

<footer>
  {variant === 'standard' && (
    <p>
      Made with &#9829; in Minnesota | Copyright &copy; 2012-2026 Jade Thornton |
      <a href="https://github.com/thornjad/jmthornton">Source code</a>
      | Version {pkg.version}
    </p>
  )}
  {variant === 'blog' && (
    <p>
      Jade Michael Thornton | <a href="/">Home</a> | <a href="/now">Now</a> |
      <a href="https://github.com/thornjad/jmthornton">Source code</a>
    </p>
  )}
  {variant === 'recipe' && (
    <p>
      Jade Michael Thornton | <a href="/">Home</a> | <a href="/now">Now</a> | <a href="/tools">Tools</a> |
      <a href="https://github.com/thornjad/jmthornton">Source code</a>
    </p>
  )}
  <slot name="footer-extra" />
</footer>
