---
import pkg from '../../package.json';

interface Props {
  variant?: 'standard' | 'blog' | 'recipe';
  coffeeText?: string;
}

const { variant = 'standard', coffeeText = 'if you found this useful' } = Astro.props;
---

<footer>
  <p>I don't run ads, so {coffeeText}, <a href="https://buymeacoffee.com/jademichaelthornton">buy me a coffee!</a></p>
  {variant === 'standard' && (
    <p>
      Made with &#9829; in Minnesota | Copyright &copy; 2012-2026 Jade Thornton |
      <a href="https://github.com/thornjad/jmthornton">Source code</a>
      | Version {pkg.version}
    </p>
  )}
  {variant === 'blog' && (
    <p>
      Jade Michael Thornton | <a href="/">Home</a> | <a href="/now">Now</a> |
      <a href="https://github.com/thornjad/jmthornton">Source code</a>
    </p>
  )}
  {variant === 'recipe' && (
    <p>
      Jade Michael Thornton | <a href="/">Home</a> | <a href="/now">Now</a> | <a href="/tools">Tools</a> |
      <a href="https://github.com/thornjad/jmthornton">Source code</a>
    </p>
  )}
  <slot name="footer-extra" />
</footer>
