<header>
  <nav>
    <a href="/">Home</a>
    <a href="/now">Now</a>
    <a href="/blog">Blog</a>
    <a href="/tools">Tools</a>
    <a href="https://photos.jmthornton.net">Photos</a>
    <a href="https://emacs.jmthornton.net">Emacs</a>
  </nav>
</header>
