/* Headings */

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: normal;
  line-height: var(--line-height);
  color: var(--heading);
  margin: var(--standard-margin);

  small {
    display: block;
    font-size: 0.6em;
    line-height: 1.2em;
  }
}

h1, h2 {
  margin: 2.7rem 0 2rem;
}

h1 {
  font-size: 2.618030789em;

  @at-root main &:first-child {
    margin-top: 1.5rem;
  }
}

h2 {
  font-size: 1.618033em;
}

h3 {
  font-size: 1.35rem;
}

h4 {
  font-size: 1.15rem;
}
