@font-face {
  font-family: VictorMono;
  src: local("VictorMono-Regular"),
    url(/assets/fonts/VictorMono-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: VictorMono;
  src: local("VictorMono-Bold"),
    url(/assets/fonts/VictorMono-Bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: MetroNova;
  src: local("MetroNova-Regular"),
    url(/assets/fonts/MetroNova-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: MetroNova;
  src: local("MetroNova-Italic"),
    url(/assets/fonts/MetroNova-Italic.woff2) format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: MetroNova;
  src: local("MetroNova-Bold"),
    url(/assets/fonts/MetroNova-Bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: MetroNova;
  src: local("MetroNova-BoldItalic"),
    url(/assets/fonts/MetroNova-BoldItalic.woff2) format("woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
