@import url("/static/style/variables.css");

:root {
  --rgb-orange: #f79533;
  --rgb-lime: #aee406;
  --rgb-sea-green: #07b39b;
  --rgb-green: #1098ad;
  --rgb-blue: #5073b8;
  --rgb-purple: #a166ab;
  --rgb-pink: #f37055;
  --rgb-red: #ef4e7b;
}

.rgb-color {
  color: var(--fg);
  animation: rgb-color-anim 7s linear infinite;
}

@keyframes rgb-color-anim {
  0% {color: var(--mint);}
  12.5% {color: var(--rgb-sea-green);}
  25% {color: var(--rgb-green);}
  37.5% {color: var(--rgb-blue);}
  50% {color: var(--rgb-purple);}
  62.5% {color: var(--rgb-pink);}
  75% {color: var(--rgb-red);}
  87.5% {color: var(--rgb-orange);}
  100% {color: var(--mint);}
}

@keyframes rgb-text-decoration-anim {
  0% {text-decoration: underline var(--mint);}
  12.5% {text-decoration: underline var(--rgb-sea-green);}
  25% {text-decoration: underline var(--rgb-green);}
  37.5% {text-decoration: underline var(--rgb-blue);}
  50% {text-decoration: underline var(--rgb-purple);}
  62.5% {text-decoration: underline var(--rgb-pink);}
  75% {text-decoration: underline var(--rgb-red);}
  87.5% {text-decoration: underline var(--rgb-orange);}
  100% {text-decoration: underline var(--mint);}
}

a:not(.no-rgb) {
  text-decoration: underline var(--mint);

  &:hover {
    animation: rgb-text-decoration-anim 4s linear infinite;
  }
}
